.arrowDown {
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #66B9FF;
  cursor: pointer;
}

.arrowUp {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #66B9FF;
  cursor: pointer;
}

.arrowDown:hover,
.arrowUp:hover {
  fill: #5254f5;
}

.ratingNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 0.88em;
  color: #353535;
  opacity: 0.4;
}

.ratingElement {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}
