.btnSuggest {
  width: 328px;
  height: 43px;
  background: #14253F !important;
  color: #FFFFFF !important;
  padding: 12px 105px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 27px;
  border-radius: 5px;
  overflow: hidden;
}
