.container {
  :global(.ui.card).viewCard {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    box-shadow: none;
    width: 100%;
    margin-bottom: 15vh;
  }

  :global(.ui.card>:first-child) {
    border-radius: 0.7143rem !important;
  }
}

.postBody {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 5em;
}

.cardContent {
  width: 100%;
  border: 2px solid #F8F8F8;
  box-sizing: border-box;
}

.btnWrapper {
  margin: 1em 0 1.5em 2.875rem;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-left: 2.875rem;
  padding-right: 1em;
}

.gridColumn {
  position: relative;
  display: flex;
}

.postName {
  margin: 3rem 0 0 2.875rem;
  font-family: Libre Baskerville, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  color: #353535;
}

.contentArticle {
  border: none !important;
  font-family: Lato, sans-serif;
  size: 18px;
  color: #353535;
  max-width: 100% !important;
  line-height: 145%;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 15vh;
}

.image {
  object-fit: cover;
  max-width: 100%;
  content: inherit;
  width: 100%;
  height: 357px;
  border-radius: 10px;
  background: #C4C4C4;
}

.leftSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 1rem;
  margin-left: 1.5rem;
}

.bgCircle {
  width: 45px;
  height: 45px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.icon {
  margin-left: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  object-fit: inherit;
}

.ratingComponent {
  margin-top: -0.8571rem;
}



