:global(.ui.card).viewCard {
  display: flex;
  justify-content: space-between;
  width: 85%;
  max-width: 100%;
  margin: 3.8vw 0px -2em 15%;
  padding-top: 1.5em;
  box-shadow: none;
  max-height: 28rem;
}

.btnWrapper {
  margin: 1em 0 1.5em 1em;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-left: 1em;
  padding-right: 1em;
}

.gridColumn {
  position: relative;
  display: flex;
}

.postName {
  margin: 3rem 0 0 0.8rem;
  font-family: Libre Baskerville, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
}

.content {
  font-family: Lato, sans-serif;
  size: 18px;
  color: #353535;
  max-width: 100% !important;
  line-height: 145%;
  font-style: normal;
  font-weight: 400;
}

.image {
  object-fit: cover;
  max-width: 100%;
  content: inherit;
  width: 1130px;
  height: 357px;
  border-radius: 10px;
  background: #C4C4C4;
}

.leftSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 1rem;
  margin-left: 1.5rem;
}

.bgCircle {
  width: 45px;
  height: 45px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.icon {
  margin-left: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  object-fit: inherit;
}



