import React from 'react';
import styles from './styles.module.scss';
import classNames from 'classnames';

const {{pascalCase name}}: React.FC = () => (
  <div className={classNames('content_wrapper', styles.container)}>{{name}}</div>
);

export default {{pascalCase name}};
