.container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 55.7142em;
  margin: 0 auto;

}
.wrapper_block {
  color: #353535;
  padding: 2.8571em;
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  box-shadow: 0 0.1428em 0.2857em 0 rgba(0, 0, 0, 0.25);
}

.wrapper_title {
  margin-bottom: 1.5em;
}

.success {
  font-size: 2em;
  font-family: Lato, sans-serif;
  font-weight: bold;
}

.success_block {
  width: 100%;
  margin-top: 2.8571em;
}

.success_block_placeholder {
  font-size: 1.1em;
  font-family: Lato, sans-serif;
  background: #65AB5B;
  padding: 1.4285em;
  color: white;
  border-radius: 0.2142em;
  box-sizing: border-box;
}

.error_block_placeholder {
  font-size: 1.1em;
  font-family: Lato, sans-serif;
  background: #F44242;
  padding: 1.4285em;
  color: white;
  border-radius: 0.2142em;
  box-sizing: border-box;
}

