.main {
  min-width: 43.75em;

  .pageTitle {
    font-family: Lato Bolt, sans-serif;
    font-weight: 500;
    font-size: 2em;
    line-height: 1em;
    color: #282828;
    margin-bottom: 1em;
  }
}
