.mentions {
  margin: 1em 0;
}

.mentions--singleLine .mentions__control {
  display: inline-block;
  width: 0.7142em;
}
.mentions--singleLine .mentions__highlighter {
  border: 0.14285em inset transparent;
}
.mentions--singleLine .mentions__input {
  border: 0.14285em inset;
  height: 8em;
  max-height: 98%;
}

.mentions--multiLine .mentions__control {
  font-family: Lato, sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}
.mentions--multiLine .mentions__highlighter {
  border: 0.07142em solid transparent;
  min-height: 4.5em;

}
.mentions--multiLine .mentions__input {
  border: none;
  background-color: #F3F9FE !important;
  border-radius: 0.3125em;

  padding: 0.6428em;
  outline: 0;
}

.mentions__suggestions__list {
  border: 0.07142em solid rgba(0, 0, 0, 0.15);
  font-size: 10pt;
  overflow-y: scroll;
  max-height: 16em;
  border-radius: 0.32em;
}

.mentions__suggestions__item {
  padding: 0.3571em 1.0714em;
  border-bottom: 0.07142em solid rgba(168, 85, 85, 0.15);
}

.mentions__suggestions__item--focused {
  background-color:  #F3F9FE;

}
