@import "../../../styles/common.sass";
.buttonSend {
  border: none !important;
  width: 5.5em;
  height: 2.6875em;
  background: #DEDEDE !important;
  border-radius: 0.3125em;
  font-size: 1.1em !important;
  line-height: 1.5em;
  color: #FFFFFF !important;
}

.btnReplay {
  border: 0.125em solid $dark-grey;
  box-sizing: border-box;
  border-radius: 0.3125em;
  font-family: Lato, sans-serif !important;
  font-style: normal;
  font-weight: bold;
  font-size: 1em ;
  line-height: 1.1875em;
  color: $dark-grey;
  width: 3.125em;
  height: 1.525em;
  margin-top: 1.4285em !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
