.foundPostLink {
  text-decoration: none;
  color: #353535 !important;
  font-family: Lato, sans-serif;
  font-size: 0.8571rem;
  padding: 0.3rem;
  display: block;
  border-bottom: 2px solid rgba(151, 151, 151, 0.15);
}

