@import '../../../../styles/common_variables.sass';

.active{
  background-color: $light-blue;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  button{
    margin-left: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: Lato;
    height: 2.36rem;
  }
  .diffButton{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}
