@import "../../styles/common.sass";

.advancedCommentFeed {
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 0.85em;
  line-height: 1.05em;
  font-style: normal;
  margin-top: 2.1428em;

  .commentCounter {
      padding-bottom: 0.9375em;
      font-size: 1.2857em;
      line-height: 1.375em;
      color: #353535;
      font-style: normal;
      font-weight: bold;
  }

  :global(.ui.comments) {
    max-width: 100% !important;
    box-shadow: none !important;
  }

  :global(.actions) {
    padding-left: 1.375em;
    padding-bottom: 1.5625em;
  }

  input:focus, textarea:focus {
    box-shadow:0 0 0.5em 0.2em  $light-blue !important;
  }

  :global(.ui.form textarea) {
    padding-top: 1.4285em;
    padding-left: 1.375em;
    height: 7.125em !important;
    max-height: 100% !important;
    max-width: 100% !important;
    background: #F3F9FE !important;
    border: none;
    border-radius: 0.3125em !important;
    padding-bottom: 0.9375em !important;
    resize: none;

    &::placeholder {
      font-family: Lato, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875em;
      line-height: 1.0625em;
      color: #14253F;
      opacity: 0.4;
    }
  }
}

.buttonSend {
  border: none !important;
  width: 5em;
  height: 2.5em;
  border-radius: 0.3125em;
  font-size: 1.14em !important;
  line-height: 1.5em;
}

.nonAuthorizedHeading {
  font-size: 1.5em;
}




