.comment {
  border: 0.125em solid #F5F2F2;
  box-sizing: border-box;
  border-radius: 0.625em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.empty {
  margin: 0 !important;
  padding: 0 !important;

  :global(.ui.threaded.comments .comment .comments) {
    margin: -1.7em 0 -1.02em 1em;
    padding: 0.7em 0 0.5em 1.125em;
  }
}

