.postVersions {
  min-width: 43.75em;

  .postName {
    margin: 1rem 0 0.8rem 0;
    font-family: Libre Baskerville, sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
  }
}

.sidebar {
  margin-top: 5.8em;
  grid-area: sidebar;

  .feedPageSidebars {
    position: fixed;
  }

  .logInSideBar {
    margin-top: 2.7vw;
    margin-bottom: 2em;
  }
}

.pageTitle {
  font-family: Lato Bolt, sans-serif;
  font-weight: 500;
  font-size: 2em;
  line-height: 1em;
  color: #282828;
  margin-bottom: 1em;
}
