@import "src/styles/common_variables";

.oauthButton {
  width: 100%;
  background-color: white;
  border: 2px solid $dark-grey;
  box-sizing: border-box;
  border-radius: 7px;
  color: $dark-grey;
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.15rem;
  line-height: 3rem;
  transition: 0.3s;

  &:hover {
    color: white;
    background-color: $dark-grey;
  }
}


.submitButton {
  width: 100%;
  background-color: $dark-grey;
  box-sizing: border-box;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  font-size: 1.15rem;
  line-height: 3rem;
  border: 2px solid $dark-grey;
  transition: 0.3s;

  &:hover {
    color: $dark-grey;
    background-color: white;
  }
}
