.comment {
  margin-bottom: -0.13rem;
}

.views {
  margin-bottom: -0.2rem;
  position: relative;
  margin-top: -0.2rem;
}

.divider {
  margin-right: 0.8em;
  margin-left: 0.8em;
}

.svgSearch {
  margin-top: 0.3em;
}
