.list {
  top: 4rem;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  width: 20rem;
  z-index: 5;
  max-height: 60vh;
  overflow-y: auto;
}
