@import "../../styles/common.sass";

.profile_sidebar_container {
    margin-bottom: 2rem;
    background-color: $background-card;
    border-radius: 0.5rem;
    max-width: 26em;
    a:hover{
        cursor: pointer;
    }
}

.top_group{
    display: grid;
    grid-template-columns: 1.8rem 1fr 1fr 4rem;
    grid-template-rows: 2.2fr 1fr;
    border-bottom: solid 2px rgba(172, 186, 215, 0.2);
    padding-left: 1.8rem;
    padding-top: 1.8rem;
    padding-bottom: 1rem;
}

.avatar_and_name_group{
    grid-column: 1/4;
    grid-row: 1/2;

    a{
        justify-content: left;
        text-align: left;
        vertical-align: middle;
        display: flex;
        flex-direction: row;

        span{
            margin-left: 0.6rem;
            line-height: 2.8rem;
            color: $dark-grey;
            font-size: 1.14rem;
            font-family: Lato;
        }
        .avatar{
            height: 2.8rem;
            width: 2.8rem;
            border-radius: 50%;
        }
    }
}

.following_and_rating_group{
    grid-row: 2/3;
    grid-column: 2/5;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 0.3rem;
    padding-left: 0.8rem;
}

.following, .rating {
    height: 1.2rem;
    align-items: center;
    display: flex;
    color: rgba(172, 186, 215, 1);
    background-color: rgba(0, 0, 0, 0);
    div {
        margin-left: 0.5rem;
        margin-right: 0.3rem;
        padding-top: 0.1rem;
        font-family: Lato;
        font-size: 1rem;
    }
}

.dot{
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgba(102, 185, 255, 1);
    margin-right: 0.6rem;
    margin-left: 0.4rem;
    border-radius: 50%;
}

.settings_button{
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin-right: 0.5rem;
}

.sidebar_links{
    display: flex;
    flex-direction: column;
    padding: 1rem 1.45rem 2.5rem 1.45rem;
    :first-child{
        margin-top: 0;
    }
    a{
        display: flex;
        margin-top: 1.9rem;
        flex-direction: row;
        align-items: center;
        svg{
            width: 2rem;
        }
        span{
            margin-left: 0.35rem;
            font-size: 1.285rem;
            color: $dark-grey;
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
        }
    }
}

.post_notification_count{
    background-color: $red-notification;
    height: 0.82rem;
    width: 0.82rem;
    border-radius: 50%;
    overflow: visible;
    text-align: center;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    .count{
        color:  #FFFFFF;
        font-size: 0.6rem;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
  }

.invisible{
    display: none;
}

:global(.ui.floating.dropdown>.menu) {
  top: 0;
  left: 3em;
}

:global(.menu.transition.visible) {
  border: none !important;
}

:global(.ui.button.labeled.dropdown) {
  padding-top: 0.2em !important;
  svg {
    width: 100%;
  }
}
