.followerCard{
  img {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
}

.userName{
  margin-left: 3.4em;
  font-family: Lato, serif;
  font-weight: 500;
  font-size: 1rem;
  color: #353535;
  margin-top: -34px;
}
}

.followerCard {
  margin-bottom: 2em;
}
