@import '../../../styles/common_variables.sass';

.button {
  border-radius: 0.3rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: $dark-grey;
  font-size: 1.2857rem !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.button:hover{
   background-color: $light-blue;
}
