@import '../../../styles/common_variables.sass';

.dark_button {
  border-radius: 5%/13% !important;
  background-color: $dark-grey !important;
  color: white !important;
  font-family: lato !important;
}
