@import "../../styles/common.sass";

.notification_count{
  grid-template-columns: 2/3;
  grid-row: 1/2;
  background-color: $red-notification;
  height: 0.85rem;
  width: 0.85rem;
  border-radius: 50%;
  color:  #FFFFFF;
  overflow: visible;
  font-size: 0.6rem;
  text-align: center;
  padding-top: 0.1rem;
}

.invisible{
  display: none;
}