.back {
  width: 396px;
  height: 217px;
  background: rgba(243,249,254,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-radius: 10px;
  overflow: hidden;
}

.title {
  width: 329px;
  color: rgba(53,53,53,1);
  position: absolute;
  top: 32px;
  left: 34px;
  font-family: Lato, sans-serif;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}

.description {
  width: 329px;
  color: rgba(53,53,53,1);
  position: absolute;
  top: 91px;
  left: 34px;
  font-family: Lato, sans-serif;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
