.redTag{
  background-color: #feeeef !important;
  color: rgba(53, 53, 53, 0.6) !important;
}
.redTag:hover{
  color: black !important;
  background-color: #ffd3d6 !important;
}

.greenTag{
  background-color: #e6ffec !important;
  color: rgba(53, 53, 53, 0.6) !important;
}
.greenTag:hover{
  background-color: #bef8ca !important;
  color: black !important;
}

