.buttonRight {
  background: #CEE8FE !important;
  color: #14253F !important;
  border-radius: 0.35em !important;
  font-family: Lato, sans-serif !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 1em !important;
  line-height: 1.88em !important;
}
