.buttonLeft {
  width: 11.2em;
  background: #14253F !important;
  color: #FFFFFF !important;
  font-family: Lato, sans-serif !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 19px !important;
}

.buttonRight {
  background: #14253F !important;
  color: #FFFFFF !important;
  font-family: Lato, sans-serif !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 19px !important;
}
