.listItem {
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  display: block;
  transition: 0.2s;
  color: #14253f;
  border-top: 1px solid #a5aab1;
  position: relative;

  .upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    .title {
      font-weight: bold;
    }

    .date {
      color: #a5aab1;
    }
  }
  span {
    display: block;
    color: #14253f;
  }

  .closeBtn {
    position: absolute;
    top: 1.5rem;
    left: 0.5rem;
    background-color: transparent;

    &:hover {
      opacity: 0.5;
    }
  }

  &:hover {
    background-color: #f3f9fe;

  }
}
