.userName{
  font-family: Lato, serif;
  font-weight: 500;
  font-size: 16px;
  color: #353535;
}

.postHeaderInfo {
  display: flex;
  align-items: center;
  flex-direction: row;
  grid-gap: 0.3571rem;
  img {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    }
}

.popup_img {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
}

.userBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 0.3571rem;

  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

.additionalInformation {
  color: #363636;
  font-family: Lato, serif;
  font-size: 14px;
  opacity: 0.4;
}

.draftLabel {
  display: block;
  border-radius: 50%;
  border: 1px solid #4d515a;
  background: #6e7781;
  padding: 0.5rem 1rem;
  color: #ffffff;
}
