.userName{
  font-family: Lato, serif;
  font-weight: 500;
  font-size: 16px;
  color: #353535;
}

.postHeaderInfo {
  display: flex;
  align-items: center;
  flex-direction: row;
  grid-gap: 0.3571rem;
}

.userBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 0.3571rem;
}

.additionalInformation {
  color: #363636;
  font-family: Lato, serif;
  font-size: 14px;
  opacity: 0.4;
}


