.btnSuggest {
  background-color: rgba(0,0,0,0) !important;
  color: #14253F  !important;
  width: 20.2rem;
  font-weight: bold;
  font-size: 0.85rem;
  height: 2.7rem;
  min-width: 6rem;
  border-radius: 5px;
  border: solid 2px #14253F !important;
}

.btnSuggest:hover {
  background-color: #14253F !important;
  color: white !important;
}
