:global(.ui.primary.button) {
  padding: 6px;
  font-size: 0.88rem;
  font-family: Lato, sans-serif;
  font-weight: normal;
  font-style: normal;
  color:rgba(102, 122, 175, 0.5);
  background-color: rgb(244, 249, 255);
  margin-right: 1rem;
}

:global(.ui.primary.button):hover {
  background: #CEE8FE;
  color: black;
}
