.feedPage {
  height: 101vh;
  display: grid;
  grid-template-columns: 1fr 550px;
  grid-template-areas:
      "main sidebar"
;
  grid-gap: 1rem;
  grid-row-gap: 0;
}
.main {
  margin-top: 5.8em;
  margin-bottom: 4.8em;
  grid-area: main;
  min-width: 43.75em;
}

.sidebar {
  margin-top: 5.8em;
  grid-area: sidebar;

  .feedPageSidebars {
    position: fixed;
  }

  .logInSideBar {
    margin-top: 2.7vw;
    margin-bottom: 2em;
  }
}



