@import '../../../styles/common_variables.sass';

.dark_border_button{
  background-color: rgba(0,0,0,0) !important;
  border: solid 2px $dark-grey !important;
  color: $dark-grey !important;
  font-size: 1rem !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.dark_border_button:hover{
  background-color: $dark-grey !important;
  color: white !important;
}
