@import '../../../styles/common_variables.sass';

.dark_border_button{
  background-color: rgba(0,0,0,0) !important;
  border: solid 2px $dark-grey !important;
  color: $dark-grey !important;
  font-size: 1.1429rem !important;
  padding: 0.8571rem 1.7143rem 0.8571rem 1.7143rem !important;
}

.dark_border_button:hover{
  background-color: $dark-grey !important;
  color: white !important;
}
