.syntaxHighlighter{
    background-color: white;
    font-family: lato !important;
    font-size: 1.1rem !important;
    font-style: normal !important;
    padding: 0 !important;
    overflow-x: hidden !important;
    *{
      font-family: lato !important;
      font-size: 1.1rem !important;
      font-style: normal !important;
    }
  
}