@import '../../../styles/common_variables.sass';

.button {
  border-radius: 5%/13%;
  border: none;
  background-color: $light-blue;
  color: $dark-grey;
  font-size: 1.2857rem !important;
  padding-top: 0.2rem !important;

  padding-bottom: 0.2rem !important;
}
