.postHeaderInfo {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.88rem;
  color: rgba(53, 53, 53, 0.4);
}

.userName{
  margin-left: 0.4em;
  font-family: Lato, serif;
  font-weight: 500;
  font-size: 1rem;
  color: #353535;
}
