.main_container {
  color: #353535;
  display: flex;
  padding-top: 5.7rem;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.text {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8em;
  line-height: 1.81em;
  color: #000000;
  position: center;
}

.button {
  display: flex;
  align-items: center;
  position: center;
}
