@import "../../../../styles/common.sass";

.container {
  padding-bottom: 2rem;
  font-family: Lato;
  height: 100vh;
  .loader{
  margin-left: -13%;
  }
}

.diff_container{
  border: 2px solid #F8F8F8;
  padding: 1.5rem;
}

.contributor{
  padding: 1.5rem;
  width: 100%;
  border: 2px solid #F8F8F8;
  border-radius: 1rem 1rem 0 0;
  border-bottom: none;
  background-color:  #F3F9FE;
}

.pr_is_closed, .pr_is_accepted{
  padding: 1.5rem;
  width: 100%;
  border: 2px solid #F8F8F8;
  border-radius: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(53, 53, 53, 0.4);
  margin-bottom: 1.5rem;
  .round_image{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: $light-blue;
    color: white;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.field{
  margin-bottom: 2rem;
}

.text_diff{
  text-align: justify;
  margin: 0;
}

.grey_label{
  display: block;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(53, 53, 53, 0.4);
  padding-bottom: 0.4rem;
}

.footer{
  padding: 1.5rem;
  border: 2px solid #F8F8F8;
  border-radius: 0 0 1rem 1rem;
  border-top: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  :last-child{
    margin-left: 1rem;
  }
  :first-child{
    margin-left: 0;
    margin-right: 1rem;
  }
  button{
      font-weight: bold !important;
      height: 2.2rem;
      min-width: 7rem;
  }
}


