@import "../../styles/common.sass";

.logInSideBar {
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
  height: 19em;
  width: 25.8em;
  background-color: $background-card;
  padding: 2em 2.43em 2.3em 2.43em;
  border-radius: 0.5em;

  button {
    width: 21rem;
    font-weight: bold;
    font-size: 0.85rem;
    height: 2.7rem;
    min-width: 6rem;
    border-radius: 5px;
  }
}

.title {
  font-family: Lato, serif;
  font-weight: bold;
  font-size: 1.13rem;
  color: $dark-grey;
  line-height: 1.4rem;
  margin-top: 0.7em;
}

.description {
  font-family: Lato, serif;
  font-size: 0.88rem;
  color: $dark-grey;
  max-width: 23em;
}

.darkBorderButton {
  background-color: rgba(0,0,0,0);
  border: solid 2px $dark-grey;
}

.dark_button:hover {
  background-color: rgba(0,0,0,0);
  border: solid 2px $dark-grey;
  color: $dark-grey;
}

.darkBorderButton:hover {
  background-color: $dark-grey;
  color: white;
}
