@import "../../styles/common.sass";

.logInSideBar {
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
  height: 18rem;
  width: 24rem;
  background-color: $background-card;
  padding: 1.5rem 1.5rem 1.5rem 1.9rem;
  border-radius: 0.5rem;

  button {
    width: 20.2rem;
    font-weight: bold;
    font-size: 0.85rem;
    height: 2.7rem;
    min-width: 6rem;
    border-radius: 5px;
  }
}

.title {
  font-family: Lato, serif;
  font-weight: bold;
  font-size: 1.13rem;
  color: $dark-grey;
  line-height: 1.4rem;
  margin-top: .7em;
}

.description {
  font-family: Lato, serif;
  font-size: 0.88rem;
  color: $dark-grey;
}

.darkBorderButton {
  background-color: rgba(0,0,0,0);
  border: solid 2px $dark-grey;
}
