.btnFollow {
  object-fit: cover;
  width: 4.7143rem;
  height: 2rem;
  align-items: flex-start;
  position: relative;
  margin: 0.45rem;
  background: #14253F;
  border: 1px solid #14253F;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.3571rem 0.6429rem 0.3571rem 0.6429rem;
}
.btnFollow p {
  color: white;
  font-size: 1.1429rem;
  line-height: 1.3571rem;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
}
