@import '../../../../styles/common_variables.sass';

.postVersions {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 550px;
  grid-template-areas:
      "main sidebar"
;
  grid-gap: 1rem;
  grid-row-gap: 0;
}
.main {
  margin-top: 8.8em;
  margin-bottom: 4.8em;
  grid-area: main;
  min-width: 43.75em;
  margin-left: 10rem;

  h3 {
    margin-bottom: 0.5rem;
  }
  .postName {
    margin: 1rem 0 0.8rem 0;
    font-family: Libre Baskerville, sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
  }
}

.sidebar {
  margin-top: 5.8em;
  grid-area: sidebar;

  .feedPageSidebars {
    position: fixed;
  }

  .logInSideBar {
    margin-top: 2.7vw;
    margin-bottom: 2em;
  }
}

.see_open{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2.4rem;
  margin-bottom: 1rem;
  .checkbox_label{
    padding-left: 1rem;
    font-family: Lato, serif;
    font-weight: 500;
    font-size: 1rem;
    color: #353535;
  }
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + div {
  height: 1.18rem;
  width: 1.18rem;
  border: solid 1.5px rgba(102, 185, 255, 1);
  border-radius: 0.2rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  cursor: pointer;
}

input[type="checkbox"]:checked + div {
  background-color: rgba(102, 185, 255, 1);
  color: $dark-grey;
}



