.postVersions {
  padding: 9.2rem 10% 0 10%;
  display: grid;
  grid-template-columns: 2.3fr 1fr;
  gap: 2rem;
}
.main {
  min-width: 43.75em;

  h3 {
    margin-bottom: 0.5rem;
  }
  .postName {
    margin: 1rem 0 0.8rem 0;
    font-family: Libre Baskerville, sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
  }
}

.sidebar {
  margin-top: 5.8em;
  grid-area: sidebar;

  .feedPageSidebars {
    position: fixed;
  }

  .logInSideBar {
    margin-top: 2.7vw;
    margin-bottom: 2em;
  }
}



