.postVersions {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 550px;
  grid-template-areas:
      "main sidebar"
;
  grid-gap: 1rem;
  grid-row-gap: 0;
}
.main {
  margin-top: 8.8em;
  margin-bottom: 4.8em;
  grid-area: main;
  min-width: 43.75em;
  margin-left: 10rem;

  h3 {
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
}

.sidebar {
  margin-top: 5.8em;
  grid-area: sidebar;

  .feedPageSidebars {
    position: fixed;
  }

  .logInSideBar {
    margin-top: 2.7vw;
    margin-bottom: 2em;
  }
}



