@import "../../styles/common.sass";

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5.7rem;
    border: 2px solid rgba(151, 151, 151, 0.15);
    background-color: white;
    button {
        height: 2.37rem;
        font-family: lato;
    }
}

.left {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 5rem;
}

.right{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 5rem;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    height: 2.37rem;
    margin-left: 2rem;

    button {
        min-width: 6rem;
        font-weight: 600;
        font-size: 1rem;
    }
}

.create_post_button {
    width: 8rem;
    font-weight: bold;
    font-size: 0.9rem;
}

.search_input{
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr;
    width: 16rem;
    height: 2.37rem;
    margin-right: 2rem;
    input {
        width: 100%;
        height: 100%;
        border: none;
        background-color: #F8F8F8;
        border-radius: 2%/16%;
        padding-left: 1.5rem;
        padding-right: 2.4rem;
        grid-column: 1/3;
        grid-row: 1/2;   
    }
    input::placeholder{
        font-family: lato;
    }
    button{
        background-color: #F8F8F8;
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 2px;
        opacity: 0.6;
    }
    button:hover{
        opacity: 1;
    }
}

.header_notification{
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    margin-right: 1rem;
    padding-top: 0.3rem;
    grid-template-columns: 1.05fr 0.95fr;
    grid-template-rows: 1fr 1fr;
    width: 2.37rem;
    svg{
        grid-column: 1/3;
        grid-row: 1/3;
    }
}

.notification_count{
    grid-template-columns: 2/3;
    grid-row: 1/2;
    background-color: $red-notification;
    height: 0.85rem;
    width: 0.85rem;
    border-radius: 50%;
    color:  #FFFFFF;
    overflow: visible;
    font-size: 0.6rem;
    text-align: center;
    padding-top: 0.1rem;
}

.invisible{
    display: none;
}