@import '../../../../styles/common_variables.sass';

  .see_diff{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5rem;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + div {
    height: 1.18rem;
    width: 1.18rem;
    border: solid 1.5px rgba(102, 185, 255, 1);
    border-radius: 0.2rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    cursor: pointer;
  }

  input[type="checkbox"]:checked + div {
    background-color: rgba(102, 185, 255, 1);
    color: $dark-grey;
  }

