.back {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
  width: 26em;
  background-color: #F3F9FE;
  padding: 2.28rem;
  border-radius: 0.5em;
}

.title {
  font-family: Lato, serif;
  font-weight: bold;
  font-size: 1.285rem;
  color: #353535;
  line-height: 1.4rem;
}

.description {
  font-family: Lato, serif;
  font-size: 1rem;
  color: #353535;
  line-height: 1.4rem;
}
