.icon {
  margin-left: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  object-fit: inherit;
  display: inline-block;
  justify-content: space-between;
}

.iconShare {
  margin-left: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  object-fit: inherit;
  display: inline-block;
  justify-content: space-between;
}
