.viewPost {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 550px;
  grid-template-areas:
      "main sidebar"
;
  grid-gap: 1rem;
  grid-row-gap: 0;
}


.main {
  grid-area: main;
  min-width: 100%;
}

.sidebar {
  margin-top: 5.5vw;
  display: flex;
  flex-direction: column;
  grid-area: sidebar;

  .logInSideBar {
    margin-bottom: 2em;
  }

  .suggestChanges {
    margin-bottom: 2em;

    .tagsSideBar {
      margin-top: 2em;
    }
  }
}


