.viewPost {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 35rem;
  grid-template-rows: 105px 1fr;
  grid-template-areas:
      "header header"
      "main sidebar"

;
  grid-gap: 1rem;
  grid-row-gap: 0px;
}

.header {
  grid-area: header;
  border: 2px solid aquamarine;
}

.main {
  grid-area: main;
  min-width: 100px;
}

.sidebar {
  grid-area: sidebar;
  border: 2px solid aquamarine;
}

.suggestChanges {
  width: 396px;
  height: 217px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 30rem;
  left: 2rem;
  overflow: hidden;
}
