@import "../../../../styles/common_variables.sass";

.main {
  margin-bottom: 4.8em;
  grid-area: main;
  min-width: 43.75em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  .loader{
  margin-left: -13%;
  }
  .post_card{
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .scrollToTopButton{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 400;
    margin-top: 70vh;
    margin-left: 81%;
    height: 4rem;
    width: 4rem;
    border-radius: 1rem 1rem 1rem 1rem;
    border: 2px solid #e7e4e4;
    position: fixed;
    background-color: $background-card;
    filter:opacity(0.4);
  }

  .scrollToTopButton:hover{
    filter:opacity(0.7)
  }
  
  .scrollToTopButton:active{
    filter:opacity(1)
  }
}