:global(.author) {
  font-family: Lato, sans-serif !important;
  padding-left: 0.67em;
  color: #353535 !important;
  font-weight: 600 !important;
  font-style: normal !important;
  font-size: 0.85714em !important;
  line-height: 0.9em !important;
  padding-right: 0.92em !important;
}

:global(.text) {
  font-family: Lato, serif !important;
  font-weight: 500 !important;
  font-size: 1em !important;
  line-height: 1.05em !important;
  color: #353535 !important;
  margin-bottom: 0 !important;
}

:global(.date) {
  font-family: Lato, serif !important;
  color: rgba(53, 53, 53, 0.4) !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
  line-height: 1.05em !important;
  padding-left: 0.7142em !important;
}

.commentAuthor {
  padding-top: 1.785em;
  padding-bottom: 1.428em;
  display: flex;
  align-items: center !important;
  justify-content: left !important;

  :global(#divider) {
    margin: 0 !important;
  }
}

.basicComment {
  padding-left: 1.7857em;
}


:global(.ui.comments .comment .avatar) {
  width: 1.78571em;
  height: 1.78571em;
  margin: 0 !important;
  padding: 0 !important;
  img {
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 1em;
    width: 1.78571em;
    height: 1.78571em;
  }
}
